{% assign experience = site.data.data.experience %}
{% if experience %}
<section class="experiance">
    <h2 class="title">Experience</h2>
    {% for exp in experience %}
        <div class="experience-item">
            <div class="role">
                {{exp.role}}
            </div>
            <div class="company">
                {% if exp.link %}<a href="{{exp.link}}" target="_blank" rel="noopener">{{exp.company}}</a>{% else %}{{exp.company}}{% endif %}
                <span class="time">{{exp.time}}</span>
            </div>
            <div class="details">{{exp.details|newline_to_br}}</div>
            <p class="technologies"><b>Technologies Used:</b> {{exp.technologies_used}}</p>
        </div>
       
    {% endfor %}
</section>
{% endif %}