{% assign volunteering = site.data.data.volunteering %}
{% if volunteering %}
<section class="volunteering">
    <h2 class="title">Charity</h2>
    {% for vol in volunteering %}
        <div class="volunteering-item">
            <div class="role">
                {{vol.role}}
            </div>
            <div class="organization">
                {% if vol.link %}<a href="{{vol.link}}" target="_blank" rel="noopener">{{vol.company}}</a>{% else %}{{vol.company}}{% endif %}
                <span class="time">{{vol.time}}</span>
            </div>
            <div class="details">{{vol.details}}</div>    
        </div>
        
    {% endfor %}
</section>
{% endif %}